/**
 * Project: Project name 
 * File:    Main SCSS
 */
@import 'modules/_fonts';
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_breakpoints';

// Optional side margins
@import 'modules/_mq';
@import 'modules/_side-margins';

// Setup page
body {
    margin: 0;
    padding: 0;
}

// Remove <figure> margin
.interactive {
    margin: 0;
}

// Note: Access images using absolute '/imgs/' paths
.gv-wrapper {
    margin: 0 auto;
    
    // Breakpoints
    @include mq(tablet) {
        max-width: gs-span(9) + $gs-gutter*2;
    }

    @include mq(desktop) {
        max-width: gs-span(12) + $gs-gutter*2;
    }

    @include mq(leftCol) {
        padding-left: 0;
        padding-right: 0;
        max-width: gs-span(14) + $gs-gutter*2;
    }
    @include mq(wide) {
        width: gs-span(16) + $gs-gutter*2;
        max-width: none;
    }
}

.gv-header {
    padding: 10px $gs-gutter;
    margin: 0;
}

.gv-guardian-logo {
    float: right;
    width: 80px;
}

.gv-table {
    margin: 10px auto;
    max-width: 500px;
    @include fs-textSans(3);
}
