<div class="gv-social">
	<p>Social</p>
	<p>
		<a class="gv-social-link gv-twitter" href="{{ url }}"> Twitter: {{ sharetext }}</a>
		<a class="gv-social-link gv-twitter" href="{{ url }}"> Facebook: {{ sharetext }}</a>
	</p>
</div>

<style>
	.gv-social {
		overflow: hidden;
		margin: 0 20px;
		font-size: 11px;
	    font-family: 'Guardian Text Sans Web', sans-serif;
	}
	
	.gv-social p {
		margin: 0;
	}
	
	.gv-social-link {
		float: left;
		text-align: center;
		padding: 6px;
		display: block;
		text-decoration: none;
		margin-right: 10px;
	}
	.gv-twitter {
		background: rgb(154, 221, 255);
		color: #fff;
	}	
</style>