<!-- Optional side margins that match main site styles -->
<div class="l-side-margins">

    <div class="guvisual">
        <h1>Visuals project template</h1>
        <div class="subView"></div>
        <ul class="output">Loading data...</ul>

        <div class="ractiveOutput"></div>
            
        <figure>
            <img src="app/imgs/last-guardian.jpg" class="lastguardian">
            <figcaption>Inline image</figcaption>
        </figure>
        
            
        <figure>
            <div style="height: 100px; width: 100px; background-image: url('app/imgs/wikipedia.svg'); background-repeat: no-repeat;"></div>
            <figcaption>Inline CSS image</figcaption>
        </figure>
    </div>

</div>